In [0]:
%flink.ssql
DROP TABLE IF EXISTS user_activity;

CREATE TABLE user_activity (
    UserID STRING,
    SessionID STRING,
    ActivityType STRING,
    CreatedAt TIMESTAMP(3),
    ProductID STRING,
    Category STRING,
    Price DOUBLE,
    Location STRING,
    Device STRING
) WITH (
    'connector' = 'kinesis',
    'stream' = 'Fill your stream name',
    'aws.region' = 'ap-northeast-1',
    'scan.stream.initpos' = 'LATEST',
    'format' = 'json'
);

In [1]:
%flink.ssql
SHOW TABLES;

In [2]:
%flink.ssql
DESCRIBE user_activity;

In [3]:
%flink.ssql(type=update)

SELECT *
FROM user_activity

In [4]:
%flink.ssql(type=update)

SELECT UserID, SUM(Price)
FROM user_activity
WHERE ActivityType = 'Purchase'
GROUP BY UserID

In [5]:
%flink.ssql(type=update)

SELECT Location, SUM(Price)
FROM user_activity
WHERE ActivityType = 'Purchase'
GROUP BY Location

In [6]:
%flink.ssql(type=update)

SELECT Category, COUNT(Category)
FROM user_activity
WHERE ActivityType = 'Purchase'
GROUP BY Category

In [7]:
%flink.ssql(type=update)

SELECT Location, Category, COUNT(*)
FROM user_activity
WHERE ActivityType = 'Purchase'
GROUP BY Location, Category

In [8]:
%flink.ssql